h1 {
    text-align: center;
    color:black;
    font-size: 2.5em;
    margin: 1.5em;
    font-family: "Pacifico", cursive;
    padding: .5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: brown;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}
h2 {
    padding: 5px 20px;
    font-family: "Knewave", system-ui;
    color: blue;
}
h3{ 
    padding: 0px 20px;
    font-family: "Knewave", system-ui;
    font-size: 1em;
    color: green;
}
body {
    background-color: #e5decf;
    margin:auto;
    line-height: 1.3em;
    max-width: 1000px;
}
iframe {
    max-width: 100%;
    padding: 20px;
    width: 600px;
    height: 400px;
}

section {
    background-color: white;
    border-radius: 20px;
    margin: 20px 0px;
    position: relative;
    border: 1px solid black;
    box-shadow: 0 4px 8px black;
    
}
p {
    font-family: "Poiret One", sans-serif;
    color: black;
    padding: 0px 20px;
    font-size: 1.1em;
}

footer {
    font-family: "Poiret One", sans-serif;
    color:black;
    background-color: white;

    border-radius: 20px; 
    margin: 50px 0px 0px 0px;;
    box-shadow: 0 4px 8px black;
}